body{
    margin : 0 ;
	padding : 0 ;
    background-color : #FEFEE2 ;
    text-align: center ;
    font-family: Carlito ;
    margin-bottom: 100px ;
}
h1{
    color: red ;
    font-weight: bold ;
    font-style: italic ;
    font-family: Algerian ;
    text-decoration: underline ;

}
.intro{
    font-weight: bold ;
    font-style: italic ;
    margin-top: 20px ;
    margin-bottom: 20px ;
}
.carte{
    font-weight: bold ;
    font-style: italic ;
    color : blue ;
}
a{
    color: #E538CE ;
    text-decoration: none ;
    font-style: italic ;
    margin-bottom: 40px ;
}