/* le corps */
body{
    margin : 0 ;
    padding : 0 ;
    margin-bottom: 100px ;
    background-color : #FEFEE2 ;
    text-align: center ; 
    font-family: Carlito ;
    
}

/* Titre de la page */
h1{
    color: red ;
    font-weight: bold ;
    font-style: italic ;
    text-decoration: underline ;
    font-family: Algerian ;

}

/* Partie Introduction */
.intro{
    font-weight: bold ;
    font-style: italic ;
    margin-top: 20px ;
}

img{ 
    width: 650px;
    height: auto;
}


.legende{
    font-style: italic ;
    margin-top: 40px ;
    margin-bottom: 40px ;
    color: green ;
}

a img{
    width: 50px ;  
    height: 50px ; 
    position: absolute;
    top: 20px ;
    right: 20px ; 
}

